body {
  background-color: lightgrey;
}


.carousel-item img {
  height: 100vh;
}

form {
  padding: 60px;
  background-color: lightgrey;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  color: maroon;

}

.fa:hover {
  opacity: 0.7;

}

.nav-item {
  padding: 10px;
}

#colo {
  color: maroon;
}

#col {
  background-color: lightgrey;
  padding: 3% 0% 0% 0%;
}

.carousel-item a {
  color: maroon;
}

label {
  color: maroon;
}